# Terraform local values
**/terraform.tfvars
*.auto.tfvars

# Terraform local runtime files
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Keep lock file only in environment roots
modules/**/.terraform.lock.hcl
